@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
}

@tailwind base;

/***
Theme Styles
******************/
.theme-one {
  --color-header-100: theme('colors.white');

  --color-primary-100: theme('colors.veryDarkGrayishBlueText');
  --color-primary-200: theme('colors.veryDarkBlueMain');
  --color-primary-300: theme('colors.lightGrayishOrangeKey');
  --color-primary-400: theme('colors.grayishOrangeKey');

  --color-secondary-100: theme('colors.white');
  --color-secondary-200: theme('colors.veryDarkBlueAccentOne');
  --color-secondary-300: theme('colors.darkBlueKeyBg');
  --color-secondary-400: theme('colors.darkBlueKeyShadow');

  --color-tertiary-100: theme('colors.white');
  --color-tertiary-200: theme('colors.veryDarkBlueAccentTwo');
  --color-tertiary-300: theme('colors.redKey');
  --color-tertiary-400: theme('colors.darkRedKey');

  --color-headerText: var(--color-header-100);

  --color-primaryText: var(--color-primary-100);
  --color-primaryBg: var(--color-primary-200);
  --color-primaryKeyBg: var(--color-primary-300);
  --color-primaryKeyShadow: var(--color-primary-400);

  --color-secondaryText: var(--color-secondary-100);
  --color-secondaryBg: var(--color-secondary-200);
  --color-secondaryKeyBg: var(--color-secondary-300);
  --color-secondaryKeyShadow: var(--color-secondary-400);

  --color-tertiaryText: var(--color-tertiary-100);
  --color-tertiaryBg: var(--color-tertiary-200);
  --color-tertiaryKeyBg: var(--color-tertiary-300);
  --color-tertiaryKeyShadow: var(--color-tertiary-400);
}
.theme-two {
  --color-header-100: theme('colors.veryDarkGrayishYellowText');

  --color-primary-100: theme('colors.veryDarkGrayishYellowText');
  --color-primary-200: theme('colors.lightGrayMain');
  --color-primary-300: theme('colors.lightGrayishYellowKey');
  --color-primary-400: theme('colors.darkGrayishOrangeKey');

  --color-secondary-100: theme('colors.white');
  --color-secondary-200: theme('colors.grayishRedAccentOne');
  --color-secondary-300: theme('colors.darkCyanKey');
  --color-secondary-400: theme('colors.veryDarkCyanKey');

  --color-tertiary-100: theme('colors.gray.100');
  --color-tertiary-200: theme('colors.veryLightGrayAccentTwo');
  --color-tertiary-300: theme('colors.orangeKey');
  --color-tertiary-400: theme('colors.darkOrangeKey');

  --color-headerText: var(--color-header-100);

  --color-primaryText: var(--color-primary-100);
  --color-primaryBg: var(--color-primary-200);
  --color-primaryKeyBg: var(--color-primary-300);
  --color-primaryKeyShadow: var(--color-primary-400);

  --color-secondaryText: var(--color-secondary-100);
  --color-secondaryBg: var(--color-secondary-200);
  --color-secondaryKeyBg: var(--color-secondary-300);
  --color-secondaryKeyShadow: var(--color-secondary-400);

  --color-tertiaryText: var(--color-tertiary-100);
  --color-tertiaryBg: var(--color-tertiary-200);
  --color-tertiaryKeyBg: var(--color-tertiary-300);
  --color-tertiaryKeyShadow: var(--color-tertiary-400);
}
.theme-three {
  --color-header-100: theme('colors.lightYellowText');

  --color-primary-100: theme('colors.lightYellowText');
  --color-primary-200: theme('colors.veryDarkVioletMain');
  --color-primary-300: theme('colors.veryDarkVioletKey');
  --color-primary-400: theme('colors.darkMagentaKey');

  --color-secondary-100: theme('colors.white');
  --color-secondary-200: theme('colors.veryDarkVioletAccent');
  --color-secondary-300: theme('colors.darkVioletKey');
  --color-secondary-400: theme('colors.vividMagentaKey');

  --color-tertiary-100: theme('colors.veryDarkBlueText');
  --color-tertiary-200: theme('colors.veryDarkVioletAccent');
  --color-tertiary-300: theme('colors.pureCyanKey');
  --color-tertiary-400: theme('colors.softCyanKey');

  --color-headerText: var(--color-header-100);

  --color-primaryText: var(--color-primary-100);
  --color-primaryBg: var(--color-primary-200);
  --color-primaryKeyBg: var(--color-primary-300);
  --color-primaryKeyShadow: var(--color-primary-400);

  --color-secondaryText: var(--color-secondary-100);
  --color-secondaryBg: var(--color-secondary-200);
  --color-secondaryKeyBg: var(--color-secondary-300);
  --color-secondaryKeyShadow: var(--color-secondary-400);

  --color-tertiaryText: var(--color-tertiary-100);
  --color-tertiaryBg: var(--color-tertiary-200);
  --color-tertiaryKeyBg: var(--color-tertiary-300);
  --color-tertiaryKeyShadow: var(--color-tertiary-400);
}

@tailwind components;
@tailwind utilities;

html{
  @apply m-0 p-0;
}

body {
  @apply flex m-0 p-0 w-screen h-screen justify-center align-middle items-center bg-primaryBg;
  font-family: 'Spartan', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  @apply flex justify-between p-5 py-10 bg-primaryBg;
}

header h1 {
  @apply text-4xl text-headerText;
}

.App {
  @apply w-full bg-primaryBg block mt-0 py-5;
}

/** Toggle Themes
************************/
.header-row {
  @apply flex flex-col-reverse items-center w-screen m-0 p-0 bg-primaryBg text-headerText;
}

.toggle-container {
  @apply flex flex-row gap-x-5 justify-between m-0 pb-0 pt-10 px-5 bg-primaryBg w-4/5 sm:w-2/3 md:w-1/2 lg:w-1/3;
}

.header-col {
  @apply flex flex-col;
}

#h-col-1 {
  @apply flex flex-row justify-between gap-x-32 mt-1 py-0 text-3xl;
}

#h-col-2 {
  @apply flex flex-row gap-x-3;
}

#theme {
  @apply text-sm uppercase my-4;
}

.toggle-container ul {
  @apply flex justify-center gap-x-4 p-0 m-0 text-headerText text-xs;
}

.switch-container {
  @apply block w-full justify-between;
}

.switch-toggle {
  @apply flex justify-between gap-x-0 bg-secondaryBg rounded-full border-2 border-secondaryBg h-4 w-full;
}

.switch-toggle input {
  @apply hidden opacity-0 rounded-full bg-tertiaryKeyBg;
}

.switch-toggle label {
  @apply relative opacity-100 rounded-full bg-tertiaryKeyBg text-primaryKeyBg;
}

.switch-toggle input + label {
  @apply relative gap-x-0 -mx-1 float-left clear-both p-1.5 rounded-full text-tertiaryKeyBg cursor-pointer;
}

.switch-toggle input:checked + label {
  @apply opacity-100 bg-tertiaryKeyBg ;
  transition: all .3s ease-out;
}

.switch-toggle :not(input:checked) {
  @apply opacity-0 bg-none;
}

/** 
Calculator input/output
************************/
.calc-container {
  @apply flex flex-col justify-center items-center px-6 pt-0 pb-6 m-0;
}

.input-container {
  @apply w-4/5 sm:w-2/3 md:w-1/2 lg:w-1/3;
}

input.result {
  @apply flex shadow-sm w-full border-none text-right text-3xl text-headerText mx-0 mt-0 mb-8 py-5 rounded-lg bg-tertiaryBg;
}

.column-3 {
  @apply mx-5;
  width: 75%;
  float: left;
}

.column-2 {
  width: 50%;
  float: left;
}

.column-1 {
  width: 25%;
  float: left;
}

/**
Keypad
******************/
.keypad-container {
  @apply flex justify-center;
}

.keypad {
  @apply w-4/5 sm:w-2/3 md:w-1/2 lg:w-1/3 justify-center bg-secondaryBg border-solid border-2 border-secondaryBg p-5 rounded-lg;
  height: 45vh;
}

.calc-button {
  @apply w-5/6 box-border m-2 p-2 text-xl sm:text-lg sm:p-2 rounded-lg items-center;
  height: 90%;
}

.calc-button:hover {
  @apply bg-primaryBg text-secondaryText;
}

.floaty-last {
  @apply absolute text-primaryText;
  right: 50px;
  z-index: 99;
  top: 10px;
}

.numeral,
.operator,
.decimal {
  @apply text-primaryText bg-primaryKeyBg shadow-primaryKeyShadow;
}

.delete,
.reset {
  @apply text-secondaryText bg-secondaryKeyBg shadow-secondaryKeyShadow;
}

.reset {
  @apply  mx-auto;
}

.equalSign {
  @apply mx-auto  text-tertiaryText bg-tertiaryKeyBg shadow-tertiaryKeyShadow;
}

.reset, 
.equalSign {
  @apply w-11/12 mx-2;
}

footer {
  @apply flex w-screen h-full bg-primaryBg text-headerText gap-2 text-sm justify-center items-center align-middle m-0 py-10;
}

footer a {
  @apply mb-2;
}